

h1{
border:solid #221b6d 32px;
text-align: center;
font-family: cursive;
border-radius:6px;
background-color:#221b6d;
color:white;
width:545px;
margin-left:350px;
}

.regiNo {
border:solid black 6px;
border-radius:13px;
background:yellow;
width:196px;
text-align: center;
margin-left: 545px;
}
