* {
  box-sizing: border-box;
}
body{
background-image: url('http://img12.deviantart.net/de35/i/2011/194/1/b/megan_fox_by_karaku_aki-d3nrsge.jpg');

}

#myInput {

  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: inherit;;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.button {

}
.regNumbers {
align:center;

}

h2 {

    text-decoration: blink;
    text-shadow: 1px 1px 1px #796d15;
}

div {
    width: 50%;
    padding: 4%;
    margin: auto;
    color:white;
}

.myReg {
    background-color: yellow;
    background-position: 10px 10px;
    border: 3px solid black;
    border-radius: 25px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 5px;
    padding: 12px 20px 12px 40px;
    text-align: center;
    width: 200px;
    /*font-size: 24px;*/

}
